mat-toolbar {
  justify-content: space-between;
}

main {
  display: flex;

  div {
    width: 100%;

    #done-items li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      text-decoration: line-through;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
