<header>
  <mat-toolbar>
  </mat-toolbar>
</header>

<main>
  <div>
    <h1>Contact</h1>
    <hr>
    <app-add-user (newUserEvent)="newUser($event)"></app-add-user>
  </div>

  <div>
    <h1>Liste des utilisateurs, cliquer sur un des utilisatieurs</h1>
    <hr>
    <ul>
      <li *ngFor="let user of users" (click)="detail(user)">
        {{ user.pseudo }}
      </li>
    </ul>
  </div>

  <div>
    <h1>Details, modifie un pseudo et appuie sur "Entrée"</h1>
    <hr>
    <div *ngIf="unUser">
        {{ unUser.pseudo }}
    <input (keyup.enter)="onChangeEvent($event)">
        <br>
        {{ unUser.email }}
        <br>
        {{ unUser.nom }}
    </div>
    
  </div>
  
</main>

